transformers==4.49.0
accelerate==1.4.0
bitsandbytes==0.45.3
peft==0.15.1
deepspeed==0.16.4
datasets==3.3.2
tiktoken==0.9.0
wandb==0.15.3
lm_eval==0.4.8
sentencepiece
evaluate
scipy
tqdm
regex
scikit-learn
rich
natsort
matplotlib
